@model MvcTester.Models.Petowner

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Pet Owner</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerProvince)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerProvince)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerCountry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerCountry)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PetOwnerPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PetOwnerPhone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
